[Unit]
Description=Garage door controller api

[Service]
User=marcus
ExecStart=/usr/bin/uwsgi --ini /home/amrcus/git/arduino_access_control/python/uwsgi.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
