[Unit]
Description=Garage door controller MQTT listener

[Service]
User=mw
ExecStart=/usr/bin/python3 /home/mw/git/arduino_access_control/python/mqtt.py
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
