/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout*/
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  "header"
  "nav"
  "content"
  "sidebar"
  "ad"
  "footer";
}

.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.ad {
  grid-area: ad;
}
.main-footer {
  grid-area: footer;
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "header  header"
    "nav     nav"
    "sidebar content"
    "ad      footer";
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
    "header header  header"
    "nav    content sidebar"
    "nav    content ad"
    "footer footer  footer"
   }
 }

/*REsponsive design!
First ensure that all HTML elements have the box-sizing property set to border-box.
This makes sure that the padding and border are included in the total width and height
 of the elements.*/
* {
    box-sizing: border-box;
}
/*Mobile first*/
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

/*stop horzontal scrolling on mobile*/
body{
    overflow-x:hidden;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
  /*Set columns*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
    margin: 0 auto;
}

/*Clear after div (using row class)*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
/*FAncy it up*/
html {
    font-family: "Lucida Sans", sans-serif;
}

.response {
  border-style: solid;
  border-color: red;
}

div.response {
    clear: both;
}

/*Hack for datetime picker to keep calendar near field*/
.hack {
  position: relative;
  left: auto !important;
  right: 0px;
}

.center {
  margin: auto;
}

td {
  text-align: left;
}

.tabLabel {
  text-align: right;
}
