[Unit]
Description=Logs mosquitto subs to rrd
After=multi-user.target

[Service]
User=marcus
ExecStart=/usr/bin/python /home/marcus/git/furnace_control/mqtt2rrd/mqtt2rrd.py start --no_daemon 
#> /temp/mqtt2rrd.log 2>&1

[Install]
WantedBy=multi-user.target
